<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ (c) Meta Platforms, Inc. and affiliates. Confidential and proprietary.
  -->
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  xmlns:horizonos="http://schemas.horizonos/sdk"
  android:installLocation="auto"
>

    <horizonos:uses-horizonos-sdk
    horizonos:minSdkVersion="69"
    horizonos:targetSdkVersion="69"
  />

    <application
    android:name=".app.MediaViewApplication"
    android:allowBackup="true"
    android:largeHeap="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="${applicationLabel}"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.MediaView"
    tools:targetApi="31"
  >
        <activity
      android:name=".app.permission.PermissionActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:excludeFromRecents="true"
      tools:ignore="DiscouragedApi"
      android:screenOrientation="landscape"
      android:theme="@style/Theme.MediaView"
    >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.oculus.intent.category.2D" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
      android:name=".app.player.PlayerActivity"
      android:allowEmbedded="true"
      android:documentLaunchMode="always"
      android:exported="true"
      android:launchMode="standard"
      android:theme="@style/Theme.MediaView"
    />
        <activity
      android:name=".app.player.menu.immersive.ImmersiveMenuActivity"
      android:allowEmbedded="true"
      android:exported="true"
      android:launchMode="standard"
      android:theme="@style/Theme.MediaView"
    />
        <activity
      android:name=".app.player.menu.minimized.MinimizedMenuActivity"
      android:allowEmbedded="true"
      android:exported="true"
      android:launchMode="standard"
      android:theme="@style/Theme.MediaView"
    />
        <activity
      android:name=".app.gallery.menu.GalleryMenuActivity"
      android:allowEmbedded="true"
      android:exported="true"
      android:launchMode="standard"
      android:theme="@style/Theme.MediaView"
    />
        <activity
            android:name=".app.gallery.filter.MediaFilterActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:theme="@style/Theme.MediaView" />
        <activity
            android:name=".app.onboarding.OnboardingActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@style/Theme.MediaView" />
        <activity
            android:name=".app.gallery.GalleryActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:theme="@style/Theme.MediaView" />
        <activity
      android:name=".app.upload.UploadActivity"
      android:allowEmbedded="true"
      android:exported="true"
      android:launchMode="standard"
      android:theme="@style/Theme.MediaView"
    />
        <activity
      android:name=".app.privacy.PrivacyPolicyActivity"
      android:allowEmbedded="true"
      android:exported="true"
      android:launchMode="standard"
      android:theme="@style/Theme.MediaView"
    />
        <activity
      android:name=".app.immersive.ImmersiveActivity"
      android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
      android:excludeFromRecents="true"
      android:exported="true"
      android:launchMode="singleTask"
      tools:ignore="DiscouragedApi"
      android:screenOrientation="landscape"
      android:theme="@style/Theme.MediaView"
    >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>

        <!--suppress AndroidElementNotAllowed: https://developers.meta.com/horizon/documentation/spatial-sdk/spatial-sdk-tooling-castinputforward#adding-input-forwarding -->
        <uses-native-library
      android:name="libossdk.oculus.so"
      android:required="true"
    />
    </application>

    <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />

    <uses-feature
    android:name="com.oculus.feature.RENDER_MODEL"
    android:required="false"
  />
    <uses-feature
    android:name="com.oculus.feature.VIRTUAL_KEYBOARD"
    android:required="false"
  />
    <uses-feature
    android:name="oculus.software.overlay_keyboard"
    android:required="false"
  />
    <uses-feature
    android:name="android.hardware.vr.headtracking"
    android:required="true"
  />
    <uses-feature
    android:name="com.oculus.feature.PASSTHROUGH"
    android:required="false"
  />
    <uses-feature
    android:name="oculus.software.handtracking"
    android:required="false"
  />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32"
  />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission
    android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
  />
    <uses-permission android:name="com.oculus.permission.RENDER_MODEL" />
    <uses-permission
    android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage"
  />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

</manifest>
