<?xml version="1.0" encoding="utf-8" ?>
<ComponentSchema
  packageName="com.meta.spatial.samples.mruksample"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://developers.meta.com/horizon/spatial-sdk/0.9.2/ComponentSchema.xsd"
>
<Component name="Menu">
    <StringAttribute name="url" defaultValue="" />
  </Component>
</ComponentSchema>
