# Token for Wit.ai client REST API
WIT_AI_CLIENT_ACCESS_TOKEN=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

# (optional) URL to ollama server
OLLAMA_SERVER_URL=https://your-domain:port

# AWS Bedrock keys
AWS_BEDROCK_ACCESS_KEY=BBBBBBBBBBBBBBBBBBBB
AWS_BEDROCK_SECRET_KEY=CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC

# Google Maps API key
GOOGLE_MAPS_API_KEY=DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
