<?xml version="1.0" encoding="utf-8" ?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:horizonos="http://schemas.horizonos/sdk"
  xmlns:tools="http://schemas.android.com/tools"
  android:installLocation="auto"
>
  
  <horizonos:uses-horizonos-sdk
    horizonos:minSdkVersion="69"
    horizonos:targetSdkVersion="69"
  />

  <application
    android:name=".UISetSampleApplication"
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:label="UISet Sample"
    android:largeHeap="true"
    android:supportsRtl="true"
    android:theme="@style/Theme.UISetSample"
    tools:targetApi="31"
  >
    <!--
      Prevents activity recreation when configuration changes (e.g., detachable keyboard
      attach/detach, screen rotation). This allows the app to handle these events gracefully
      without restarting the activity.
      See: https://developer.android.com/develop/ui/compose/quick-guides/content/manage-detachable-keyboards
    -->
    <activity
      android:name=".ImmersiveActivity"
      android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
      android:excludeFromRecents="true"
      android:exported="true"
      android:launchMode="singleTask"
      tools:ignore="DiscouragedApi"
    >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>

        <!--suppress AndroidElementNotAllowed: https://developers.meta.com/horizon/documentation/spatial-sdk/spatial-sdk-tooling-castinputforward#adding-input-forwarding -->
    <uses-native-library
      android:name="libossdk.oculus.so"
      android:required="true"
    />

    <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
    <meta-data
      android:name="com.oculus.handtracking.version"
      android:value="V2.0"
    />
    </application>

  <uses-feature
    android:name="com.oculus.feature.RENDER_MODEL"
    android:required="false"
  />
  <uses-feature
    android:name="com.oculus.feature.VIRTUAL_KEYBOARD"
    android:required="false"
  />
  <uses-feature
    android:name="oculus.software.overlay_keyboard"
    android:required="false"
  />
  <uses-feature
    android:name="android.hardware.vr.headtracking"
    android:required="true"
  />
  <uses-feature
    android:name="com.oculus.feature.PASSTHROUGH"
    android:required="false"
  />

  <uses-feature
    android:name="oculus.software.handtracking"
    android:required="false"
  />

  <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="com.oculus.permission.RENDER_MODEL" />

</manifest>
