<?xml version="1.0" encoding="utf-8" ?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="1"
  android:versionName="1.0"
  android:installLocation="auto"
>
  
  <!-- Tell the system this app works in either 3dof or 6dof mode -->
  <uses-feature
    android:name="android.hardware.vr.headtracking"
    android:required="true"
  />
  <uses-feature
    android:name="oculus.software.handtracking"
    android:required="false"
  />
  <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
  <!-- Tell the system this app can render passthrough -->
  <uses-feature
    android:name="com.oculus.feature.PASSTHROUGH"
    android:required="false"
  />
  <!-- Tell the system this app uses the virtual keyboard extensions -->
  <uses-feature
    android:name="com.oculus.feature.VIRTUAL_KEYBOARD"
    android:required="false"
  />
  <uses-feature android:glEsVersion="0x00030001" />
  <uses-feature
    android:name="oculus.software.overlay_keyboard"
    android:required="false"
  />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-feature
    android:name="com.oculus.feature.RENDER_MODEL"
    android:required="false"
  />
  <uses-permission android:name="com.oculus.permission.RENDER_MODEL" />
  <!-- Volume Control -->
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API" />
  <uses-permission android:name="com.oculus.permission.USE_SCENE" />
  <application android:allowBackup="false" android:label="Mixed Reality Sample">
    <meta-data
      android:name="com.oculus.supportedDevices"
      android:value="quest2|questpro|quest3"
    />
    <meta-data
      android:name="com.oculus.handtracking.version"
      android:value="V2.0"
    />
    <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
    <uses-native-library
      android:name="libossdk.oculus.so"
      android:required="false"
    />
    <activity
      android:name="com.meta.spatial.samples.mixedrealitysample.MixedRealitySampleActivity"
      android:launchMode="singleTask"
      android:excludeFromRecents="false"
      android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
      android:exported="true"
    >
      <!-- This filter lets the apk show up as a launchable icon. -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="com.oculus.intent.category.VR" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
